/* Extras */

* {
  line-height: 0px;
}

html {
  filter: saturate(0);
  scroll-behavior: smooth;
}

body {
  background-color: #000000 !important;
}

ul {
  list-style: none;
}

.center-div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec-1,
.sec-2,
.sec-3,
.sec-4 {
  height: 100vh;
}

::selection {
  background: #ffffff;

  color: #000000;
}

.fix-min {
  margin-left: -0.5px;
}

/* Dots */

nav {
  position: absolute;
}

nav ul {
  padding-left: 50px;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav .dot {
  margin-bottom: 50px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ffffff50;
}

.active .dot {
  width: 10px;
  height: 10px;
  background-color: #ffffff;
}

/* Corners */

.corners {
  position: absolute;
  width: 100%;
}

.corners img {
  width: 300px;
  height: auto;
}

#tl {
  position: fixed;
  top: -150px;
  left: -150px;
}

#tr {
  position: fixed;
  top: -150px;
  right: -150px;
}

#bl {
  position: fixed;
  left: -150px;
  bottom: -150px;
}

#br {
  position: fixed;
  bottom: -150px;
  right: -150px;
}

/* Section 1 */

.sign {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign img {
  width: 300px;
  height: auto;
}

/* Flipbook */

.bookWrapper {
  width: 800px;
  height: 400px;
}

.bookWrapper img {
  height: 100%;
  width: 100%;
}

.bookBg {
  position: relative;
  background-color: #000000;
  width: 100%;
  height: 100%;
}

.pageBg {
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url("../media/butterfly-bg.jpg");
  background-size: 800px 400px;
  width: 100%;
  height: 100%;
}

.pageWrapper {
  position: absolute;
  width: 50%;
  height: 100%;
  float: left;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
}

.pageFace {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
}

/* Golden Ratio */

.one img {
  width: 400px;
  height: 400px;
}

.two img {
  width: 247px;
  height: 247px;
}

.three img {
  width: 153px;
  height: 153px;
}

.four img {
  width: 94.5px;
  height: 94.5px;
}

.five img {
  width: 58.5px;
  height: 58.5px;
}

.six img {
  width: 36px;
  height: 36px;
}

.seven img {
  width: 22.3px;
  height: 22.3px;
}

.eight img {
  width: 14px;
  height: 14px;
}

.nine {
  width: 14px;
  height: 8.3px;
  background-color: #000000;
}

/* .two,
.six {
  transform: rotate(90deg);
}

.three,
.seven {
  transform: rotate(180deg);
}

.four,
.eight {
  transform: rotate(270deg);
} */

.arrow {
  color: #ffffff;
  background-color: #00000000;
  border: none;
}
